/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  width: 100%;
  background: linear-gradient(to right top, #919ae2, #9ca9e6, #a9b8ea, #b8c7ed, #c9d5ef, #cadcf5, #cbe3fa, #cceaff, #b4eeff, #96f3ff, #78f7ff, #5ffbf1) fixed;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.root {
  width: 100vw;
  height: 100vh;
}
#login{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 200px;
  align-items: center;
  justify-content: center;
}
#loginlogo{
  position: fixed;
  top: -200px;
  left: -20px;
}
.box{
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34);
  width: 450px;
  border-radius: 8px;
  padding-bottom: 20px;
}
.titles{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 64px;
  text-align: center;
  font-weight: 550;
  margin: 20px;
}
p{
  font-family: 'Montserrat', sans-serif;
}
.logintext{
  text-align: center;
}
.forms{
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}
.inputs{
  width: 364px;
  color: gray;
  margin-bottom: 10px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}
.inputsubmitbtn{
  background-color: black;
  color: white;
  width: 364px;
  height: 48px;
  border-radius: 6px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.inputsubmitbtn:hover{
  background-color: #36454F;
}
#signup{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 200px;
  align-items: center;
  justify-content: center;
}
#home{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 150px;
  align-items: center;
  justify-content: center;
}
#content{
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.34);
  width: 800px;
  border-radius: 8px;
  padding: 20px;
}
#contentinfo{
  display: flex;
}
#break{
  background-color: black;
  height: 1px;
  margin: 5px;
}